:root {
  color-scheme: light dark;

  --color-white: #fff;
  --color-black: #212121;

  --color-text: var(--color-black);
  --color-background: var(--color-white);

  --color-primary: #007bff;
  --color-primary--hover: #0056b3;

  --color-success: #28a745;
  --color-success--hover: #218838;

  --color-danger: #dc3545;
  --color-danger--hover: #c82333;

  --color-warning: #ffc107;
  --color-warning--hover: #e0a800;

  --color-info: #17a2b8;
  --color-info--hover: #138496;

  --color-gray: #e5e7eb;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  color-scheme: light;
  font-family: 'Ubuntu', sans-serif;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
